@page "/NuevaCarrera"
@attribute [Authorize(Roles ="Administrator")]
@inject HttpClient _http
@inject NavigationManager _NavigationManager


<h3>Agregar Nueva Carrera</h3>

<FormularioCarrerasUniversitarias _carreraUniversidad="@_carreraUniversidad" NombreBoton="Agregar Carrera" OnValidSumit="@CrearCarrera"/>

@code {
    CarrerasTotalesUni _carreraUniversidad = new CarrerasTotalesUni();

     async Task CrearCarrera()
    {
        await _http.PostAsJsonAsync<CarrerasTotalesUni>("CarrerasGenerales",_carreraUniversidad);
        _NavigationManager.NavigateTo("ListasCarrerasGenerales");

    }
}
