@inherits LayoutComponentBase
@inject NavigationManager _NavegateManager
@inject AuthenticationStateProvider _autStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/loginUsuario">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)_autStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        _NavegateManager.NavigateTo("/", true);
    }
}